$govlab-font: proxima-nova, sans-serif, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

h2{
  padding-left: 8px;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
.node {
  rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  text {
    font-size: 12px;
    font-family: $govlab-font
  }
}

g.rect > rect {
  &:hover{
    opacity: .8;
  }
}

path.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
  &:hover{
    stroke-opacity: .5;
  }
}

path.link.highlight {
  fill: none;
  stroke: #381759;
  stroke-opacity: 1;
}

.border{
  fill: #ffffff;
  stroke: #381759;
}

g.map-circle{
  &:hover{
    fill-opacity: .8;
    font-weight: bold;
  }
  fill-opacity: .5;
  text{
    font-size: 12px;
    font-family: $govlab-font;
  }
}